src/main/mule/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a7639c91-70d7-47ee-897e-0e4b514d2192" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test1Flow" doc:id="19fd286d-70c0-4b93-83ba-0d0088dc9b0c" >
		<http:listener doc:name="Listener" doc:id="7e92a437-0493-473d-a9a3-eec43ba7a9b1" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="2f1386d1-1cda-4d66-a06d-73b3be1aa798" message='#["This is a test app"]'/>
	</flow>
</mule>
